* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

html {
  background: url(http://pngimg.com/uploads/pokeball/pokeball_PNG8.png)no-repeat;
  background-position: center center;
  background-size: contain;
}

body {
  background: rgba(255,255,255,0.5);
}

.App {
  padding: 10px;
}

header {
  text-align: center;
}

.App > header {
  padding: 20px 0;
}

.section {
  position: relative;
  min-height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
.dropdown-section {
  background: #ccc;
}
.pokedex-section {
  background: #ddd;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-container {
  position: relative;
}

select {
  width: 100%;
  margin-top: 4px;
	border: 1px solid #ccc;
	padding: 8px;
  font-size: 14px;
  cursor: pointer;
	-webkit-appearance: none;
  -moz-appearance: none;
}
select + .caret {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 10px;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
  transform: translateY(calc(-50% + 2px));
}

button {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 5px;
  background: #000;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.seen-list {
  list-style: none;
}
.seen-list li {
  margin-bottom: 15px;
}
.seen-list li a {
  display: block;
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  text-align: right;
  text-decoration: none;
  transition: box-shadow 200ms;
}
.seen-list li a:hover {
  box-shadow: 4px 4px 5px #666;
}
.seen-list li a span {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.seen-list li a:hover span {
  font-weight: bold;
}
.seen-list li a img {
  transform: scale(0.9);
  transition: 200ms;
}
.seen-list li a:hover img {
  transform: scale(1);
}

.no-more-unseen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: #ccc;
}
.no-more-unseen p {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

@media screen and (min-width: 500px) {
  .section-container:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .section {
    width: calc(50% - 5px);
    min-height: 50vh;
  }
  
  .dropdown-section {
    float: left;
  }

  .pokedex-section {
    float: right;
  }
}